<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scandalous.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scandalous.WPF.Properties.Settings>
            <setting name="MainWindow_Width" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="MainWindow_Height" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindow_Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindow_Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="SelectedScanner" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedColorMode" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedPaperSource" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedResolution" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedOutputFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseFileName" serializeAs="String">
                <value />
            </setting>
        </Scandalous.WPF.Properties.Settings>
    </userSettings>
</configuration>